#dropdown-menu-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-a .nav .link,
#dropdown-menu-a .dropdown-item {
  font-size: 1.2em;
  color: #37383e;
}
#dropdown-menu-a .navbar,
#dropdown-menu-a .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-a .dropdown-menu a:hover,
#dropdown-menu-a .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-a .navbar-toggler {
  color: #37383e;
}
#header4-0 P {
  font-size: 30px;
  color: #ffffff;
}
#header4-0 B {
  color: #ffffff;
}
#header4-0 H1 {
  color: #ffffff;
}
#slider-7 H2 {
  color: #ffffff;
}
#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1.2em;
  color: #37383e;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-e .navbar-toggler {
  color: #37383e;
}
#msg-box4-g .mbr-section-title {
  color: #ffffff;
}
#msg-box4-g .lead {
  color: #37383e;
}
#dropdown-menu-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-i .nav .link,
#dropdown-menu-i .dropdown-item {
  font-size: 1.2em;
  color: #37383e;
}
#dropdown-menu-i .navbar,
#dropdown-menu-i .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-i .dropdown-menu a:hover,
#dropdown-menu-i .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-i .navbar-toggler {
  color: #37383e;
}
#msg-box4-k .lead P {
  color: #37383e;
}
#msg-box4-k .mbr-section-title {
  color: #37383e;
}
#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1.2em;
  color: #37383e;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-m .navbar-toggler {
  color: #37383e;
}
#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1.2em;
  color: #37383e;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-s .navbar-toggler {
  color: #37383e;
}
#msg-box4-u .mbr-section-title {
  color: #37383e;
}
#msg-box4-u .lead {
  color: #37383e;
}
#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1.2em;
  color: #37383e;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-s .navbar-toggler {
  color: #37383e;
}
#msg-box4-u .mbr-section-title {
  color: #37383e;
}
#msg-box4-u .lead {
  color: #37383e;
}
#dropdown-menu-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w .nav .link,
#dropdown-menu-w .dropdown-item {
  font-size: 1.2em;
  color: #37383e;
}
#dropdown-menu-w .navbar,
#dropdown-menu-w .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w .dropdown-menu a:hover,
#dropdown-menu-w .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-w .navbar-toggler {
  color: #37383e;
}
#features1-15 H4 {
  font-size: 24px;
}
#features1-15 P {
  text-align: center;
  font-size: 20px;
}
#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1.2em;
  color: #37383e;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-s .navbar-toggler {
  color: #37383e;
}
#msg-box4-u .mbr-section-title {
  color: #37383e;
}
#msg-box4-u .lead {
  color: #37383e;
}
