.container{
  height: 100%;
}

.modal-seccions{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.modal-seccions-content{
  background-color: black;
  position: absolute;
  top: 25vh;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.slide-content{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    color: white;
    text-align: center;
  }

.slide-btns-content{

}

}

.component{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.component-img{
  width: 100%;
  height: auto;
}

.component-img img{
  width: 100%;
  height: auto;
}

.component p{
  color: white;
}
