.style-background {
  animation-name: colorful;
  animation-duration: 5s;
}

@keyframes colorful{

    0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
    25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
    50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
    75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
    100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}

.nav-top{
  position: fixed;
  z-index: 1;
  top:20px;
  right:20px;
  color: white;
  font-size: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.nav-top a {
  color: white;
  margin-left: 10px;
}

#logo-portada{
  width: 50%;
  height: auto;
  margin: 0 auto;
}

#principal{
  text-decoration: none;
  color: white;
  text-align: center;
  vertical-align: middle;
}

#principal:hover{
    color: #ffcc00;
}

#seccions-label{
    font-size: 40px;
    color: white;
    border-bottom: solid 3px #ffcc00;
}

.slide, .slide-btns{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.slide-comunions{
  position: absolute;
  top: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: black;
  text-align: center;
}



.component{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 20%;
}

.component p a{
  text-decoration: none;
  color: white;
}

.component p a:hover {
  color: #ffcc00;
}

#btn-left, #btn-right{
    margin: 5px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.nav-item:hover{
  border-bottom: solid 3px #ffcc00;
}

.xarxes-socials{
  display: flex;
  justify-content: center;
  list-style: none;
}
