.style-background {
  animation-name: colorful;
  animation-duration: 5s;
}

@keyframes colorful{

    0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
    25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
    50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
    75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
    100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}

.nav-item:hover{
  border-bottom: solid 3px #ffcc00;
}

.xarxes-socials{
  display: flex;
  justify-content: center;
  list-style: none;
}
